@use "@/styles/utils/_index.scss" as *;

.popup {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-20%);
  transform: translateX(-50%);

  @include flexbox(column, null, center, null);
  width: 300px;
  height: 150px;

  background-color: $white;
  border: $border-gray;
  box-shadow: $box-shadow;
  border-radius: $radius-12;
  padding: $spacing-8;
  color: $black;

  .title {
    font-size: $text-16;
  }

  .close__button {
    color: $white;
    font-weight: $weight-700;
    width: 80%;
    padding: $spacing-8;
    margin-top: $spacing-32;
    background-color: $blue;
    border-radius: $radius-6;
  }
}
