@use "@/styles/utils/_index.scss" as *;

.items {
  @include flexbox(row, space-between, null, $spacing-24);
  flex-wrap: wrap;
  padding: $spacing-24;
}

@include mq(tablet) {
  .items {
    gap: $spacing-24;
  }
}

@include mq(mobile) {
  .items {
    gap: $spacing-12;
    padding: $spacing-12;
  }
}
