@use "sass:string";
@use "sass:map";

//플렉스 박스
@mixin flexbox($direction: row, $justify: null, $items: null, $gap: null) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
  gap: $gap;
  flex-direction: $direction;
}

// 미디어쿼리 중단점
$breakpoints: (
  mobile: 500,
  tablet: 768,
  desktop: 1024,
);

// 미디어쿼리 믹스인
@mixin mq($breakpoint) {
  @each $key, $value in $breakpoints {
    @if not map.has-key($breakpoints, $breakpoint) {
      @error '#{$breakpoint}는 유효한 중단점이 아닙니다.(유효한 값: mobile, tablet, desktop)';
    }
  }

  $viewport: map.get($breakpoints, $breakpoint);
  $query: string.unquote("max-width: #{$viewport}px");

  @media ($query) {
    @content;
  }
}

.a11yHidden,
.sr__only {
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;

  &.focusable:focus {
    overflow: initial;
    position: static;
    clip: auto;
    clip-path: unset;
    width: initial;
    height: initial;
    margin: initial;
    white-space: initial;
  }
}
